@model IEnumerable<MainSite.ViewModels.UI.Menu.MenuItemViewModel>;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Админ. Меню.";
}

<div class="col s12 m12 card-panel">
    <h5>Меню</h5>

    <p>
        @Html.ActionLink("Создать", "Create", "Menu")
        @Html.ActionLink("Назад", "Index", "Home")
    </p>

    @await Html.PartialAsync("_AdminItemMenuPartial.cshtml", Model)

</div>

