@model IEnumerable<MainSite.ViewModels.UI.Menu.MenuItemViewModel>;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Админ. Меню.";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Создать", "Create", "Menu")
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", "Menu", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


