@model IEnumerable<MainSite.ViewModels.UI.Menu.MenuItemViewModel>;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Админ. Меню.";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Создать", "Create", "Menu")
</p>


        @await Html.PartialAsync("_AdminItemMenuPartial.cshtml", Model)
    </tbody>
</table>


