@font-face {
  font-family: 'helveticaneuecyrblack';
  src: url("helveticaneuecyr-black-webfont.woff2") format("woff2"), url("helveticaneuecyr-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrblack_italic';
  src: url("helveticaneuecyr-blackitalic-webfont.woff2") format("woff2"), url("helveticaneuecyr-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url("helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("helveticaneuecyr-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrbold_italic';
  src: url("helveticaneuecyr-bolditalic-webfont.woff2") format("woff2"), url("helveticaneuecyr-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrheavy';
  src: url("helveticaneuecyr-heavy-webfont.woff2") format("woff2"), url("helveticaneuecyr-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrheavy_italic';
  src: url("helveticaneuecyr-heavyitalic-webfont.woff2") format("woff2"), url("helveticaneuecyr-heavyitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyritalic';
  src: url("helveticaneuecyr-italic-webfont.woff2") format("woff2"), url("helveticaneuecyr-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url("helveticaneuecyr-light-webfont.woff2") format("woff2"), url("helveticaneuecyr-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrlight_italic';
  src: url("helveticaneuecyr-lightitalic-webfont.woff2") format("woff2"), url("helveticaneuecyr-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrmedium';
  src: url("helveticaneuecyr-medium-webfont.woff2") format("woff2"), url("helveticaneuecyr-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrmedium_italic';
  src: url("helveticaneuecyr-mediumitalic-webfont.woff2") format("woff2"), url("helveticaneuecyr-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("helveticaneuecyr-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: "HelveticaNeueCyr" !important;
  overflow-x: hidden;
  position: relative;
  min-height: 100%; }
  @media (max-width: 1400px) {
    html .container {
      width: 95%; } }
  html .rectangle {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    border: 0.5px solid black; }
  html .error {
    color: #ef5350; }
    html .error-block {
      background-color: #ef5350; }
  html .bold {
    font-weight: 600; }
  html .dropdown-content {
    width: auto !important;
    height: auto !important; }
  html .text-right {
    text-align: right; }
  html .text-center {
    text-align: center; }
  html body {
    background-color: #eeeeee !important;
    font-size: 18px !important;
    color: #9e9e9e !important; }
    html body header {
      color: #9e9e9e;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow .25s;
      background-color: #ffffff; }
      html body header #openMenu {
        margin-left: auto; }
      html body header .nav-header {
        color: #9e9e9e;
        box-shadow: none;
        background-color: #ffffff; }
        html body header .nav-header a {
          color: #9e9e9e; }
    html body footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      white-space: nowrap; }
      html body footer nav {
        color: #9e9e9e;
        background-color: #ffffff;
        line-height: 30px;
        font-size: 14px;
        height: auto; }
        html body footer nav a {
          color: #9e9e9e; }

#mainBlock {
  padding-left: 0px; }
  #mainBlock > div {
    margin-right: 20px; }
    #mainBlock > div.card-panel {
      border-radius: 8px;
      padding: 5px 15px 5px 15px; }

.btn {
  /*&:hover {
            background-color: $animationBorderBtnTextColor;
            color: white;
        }*/
  /*&:hover {
            background-color: $animationBorderBtnTextColor;
            color: white;
        }*/ }
  .btn-default {
    font-family: 'HelveticaNeueCyr' !important;
    text-transform: inherit;
    font-size: 18px !important;
    position: relative;
    border-radius: 8px !important;
    background-color: #ffffff;
    animation-fill-mode: forwards;
    height: auto;
    color: #9e9e9e;
    border: 1px solid #9e9e9e;
    line-height: 1.5em;
    box-shadow: none; }
    .btn-default:active, .btn-default:focus {
      background-color: white; }
    .btn-default:hover {
      background-color: #eeeeee; }
  .btn-defaultMainSite {
    font-family: 'HelveticaNeueCyr' !important;
    text-transform: inherit;
    font-size: 18px !important;
    position: relative;
    border-radius: 8px !important;
    line-height: 2.3rem !important;
    height: 2.5rem !important;
    background-color: #ffffff;
    animation-fill-mode: forwards;
    color: #9e9e9e;
    border: 2.5px solid #64b5f6; }

@-moz-document url-prefix() {
  .btn-defaultMainSite {
    height: 2.5rem !important;
    line-height: 2.3rem !important; } }
    .btn-defaultMainSite:active, .btn-defaultMainSite:focus {
      background-color: white; }
    .btn-defaultMainSite:hover {
      background-color: #64b5f6;
      color: #ffffff; }

.secondMenu {
  display: flex; }
  .secondMenu > *:last-child {
    margin-left: auto; }

table #usersList {
  font-family: helveticaneuecyrheavy; }
  table #usersList:hover {
    color: #3f51b5;
    background-color: #23efdd;
    border: 1px solid #3f51b5; }
