@charset "UTF-8";
/*
.btn-6 {
  color: #9467a2;
}
.btn-6 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #4d2e57;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-6:hover {
  color: #e0d2e4;
}
.btn-6:hover span {
  width: 225%;
  height: 562.5px;
}
.btn-6:active {
  background-color: #814c91;
}
*/
@font-face {
  font-family: 'helveticaneuecyrblack';
  src: url("helveticaneuecyr-black-webfont.woff2") format("woff2"), url("helveticaneuecyr-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrblack_italic';
  src: url("helveticaneuecyr-blackitalic-webfont.woff2") format("woff2"), url("helveticaneuecyr-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url("helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("helveticaneuecyr-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrbold_italic';
  src: url("helveticaneuecyr-bolditalic-webfont.woff2") format("woff2"), url("helveticaneuecyr-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrheavy';
  src: url("helveticaneuecyr-heavy-webfont.woff2") format("woff2"), url("helveticaneuecyr-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrheavy_italic';
  src: url("helveticaneuecyr-heavyitalic-webfont.woff2") format("woff2"), url("helveticaneuecyr-heavyitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyritalic';
  src: url("helveticaneuecyr-italic-webfont.woff2") format("woff2"), url("helveticaneuecyr-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url("helveticaneuecyr-light-webfont.woff2") format("woff2"), url("helveticaneuecyr-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrlight_italic';
  src: url("helveticaneuecyr-lightitalic-webfont.woff2") format("woff2"), url("helveticaneuecyr-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrmedium';
  src: url("helveticaneuecyr-medium-webfont.woff2") format("woff2"), url("helveticaneuecyr-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrmedium_italic';
  src: url("helveticaneuecyr-mediumitalic-webfont.woff2") format("woff2"), url("helveticaneuecyr-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("helveticaneuecyr-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes widthBlock {
  0% {
    transform: translateX(-20%);
    height: 0;
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1;
    height: 100%; } }

#menuBlock {
  background-color: #eeeeee;
  margin: 0.5rem 0 1rem 0;
  padding: 0px;
  padding-right: 15px;
  color: #9e9e9e; }
  @media (max-width: 992px) {
    #menuBlock {
      opacity: 0;
      padding-right: 0px;
      width: 100%;
      position: fixed;
      margin: 0px;
      left: 0;
      z-index: -1;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s; }
      #menuBlock.active {
        z-index: 100;
        opacity: 1;
        transition: 0.3s; }
      #menuBlock .secondMenuBlock {
        padding: 10px;
        z-index: 20;
        position: relative; }
        #menuBlock .secondMenuBlock > div {
          width: 100%;
          flex-direction: column-reverse; } }
  #menuBlock > .menu {
    margin: 0px; }
    #menuBlock > .menu li ul {
      padding-left: 5px;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
      #menuBlock > .menu li ul.active {
        position: inherit;
        animation: widthBlock;
        animation-name: widthBlock;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        width: 100%;
        z-index: 10;
        /*position: inherit;
          opacity: 1;
          transition: 0.3s;*/ }
    #menuBlock > .menu a {
      float: none;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      min-height: 50px;
      cursor: pointer;
      padding-left: 10px; }
      #menuBlock > .menu a > img, #menuBlock > .menu a object {
        height: 40px;
        width: 40px; }
      #menuBlock > .menu a > .newsBLock {
        width: 30px;
        height: 30px;
        padding: 0px; }
      #menuBlock > .menu a.active {
        padding-left: 5px;
        border-left: 5px solid #64b5f6; }
        #menuBlock > .menu a.active:hover {
          border-radius: 0px 8px 8px 0px; }
      #menuBlock > .menu a:hover {
        border-radius: 8px 8px 8px 8px; }
        #menuBlock > .menu a:hover {
          position: relative;
          overflow: hidden;
          z-index: 1; }
        #menuBlock > .menu a:hover:before {
          content: "";
          position: absolute;
          top: 0;
          right: -50px;
          bottom: 0;
          left: 0;
          border-right: 40px solid transparent;
          border-bottom: 70px solid rgba(0, 0, 0, 0.05);
          transform: translateX(-100%);
          z-index: -1; }
        #menuBlock > .menu a:hover:hover {
          color: #9e9e9e; }
          #menuBlock > .menu a:hover:hover:before {
            transform: translateX(0);
            transition: 0.4s; }
      #menuBlock > .menu a > div {
        padding-left: 10px;
        color: #9e9e9e; }
      @media (max-width: 992px) {
        #menuBlock > .menu a {
          padding-left: 5px; } }

.secondMenu {
  font-size: 18px;
  display: flex;
  padding: 0px !important;
  flex-direction: row; }
  .secondMenu :last-child {
    margin-left: auto; }
  .secondMenu-search {
    display: flex;
    align-items: center;
    margin-right: 15px;
    flex-direction: row; }
    .secondMenu-search * {
      font-size: 18px; }
    .secondMenu-search > * {
      margin-right: 15px; }
    .secondMenu-search > input {
      width: auto !important;
      margin-right: 15px !important; }
  .secondMenu-user * {
    font-size: 18px; }

#mainBlock {
  /*Оформление блока день рождение(birthday)*/
  /*Оформление формы создание сообщения*/
  /*Оформление блока новостей*/
  /*Оформление блока Информация по новости*/
  /* Стили для пагинации*/ }
  #mainBlock > div:last-child {
    margin-bottom: 100px; }
  #mainBlock .card-panel {
    border-radius: 8px;
    padding: 5px 15px 5px 15px; }
  #mainBlock .card_birthday-title {
    width: 180px;
    float: left; }
    @media (max-width: 992px) {
      #mainBlock .card_birthday-title {
        float: none;
        text-align: center;
        padding-bottom: 15px;
        width: 100%; } }
  #mainBlock .card_birthday-content {
    padding-right: 0px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; }
    #mainBlock .card_birthday-content > div {
      display: flex;
      flex: none;
      flex-direction: column;
      align-items: center;
      padding-top: 6px;
      margin-bottom: 3px;
      padding-right: 10px;
      align-items: center;
      height: 68px; }
    #mainBlock .card_birthday-content > div:last-child {
      padding-right: 0px; }
    #mainBlock .card_birthday-content::-webkit-scrollbar-thumb {
      border-radius: 8px;
      width: 3px;
      background-color: #eeeeee; }
    #mainBlock .card_birthday-content::-webkit-scrollbar {
      width: 0; }
  #mainBlock .creator {
    margin-bottom: 1rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    position: relative; }
    #mainBlock .creator > .card-panel {
      border-radius: 8px; }
    #mainBlock .creator-main {
      opacity: 0;
      position: absolute;
      width: 0;
      display: none;
      /**/ }
      #mainBlock .creator-main-textForm > .input-field {
        margin: 0px;
        padding-top: 10px; }
      #mainBlock .creator-main > .close {
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
        z-index: 10; }
      #mainBlock .creator-main-panel {
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
        @media (max-width: 700px) {
          #mainBlock .creator-main-panel {
            flex-direction: column;
            padding-bottom: 15px; } }
      #mainBlock .creator-main.active {
        display: block;
        position: relative;
        animation-name: slideLeft;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1; }
      #mainBlock .creator-main.desActive {
        display: none; }
    #mainBlock .creator-menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      @media (max-width: 700px) {
        #mainBlock .creator-menu {
          flex-direction: column; } }
      #mainBlock .creator-menu.active {
        display: none; }
      #mainBlock .creator-menu.desActive {
        animation-name: slideLeftButtons;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1; }

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
    width: 100%;
    position: relative; }
  50% {
    transform: translateX(-8%);
    position: relative; }
  80% {
    transform: translateX(4%);
    position: relative; }
  100% {
    position: relative;
    width: 100%;
    opacity: 1;
    transform: translateX(0%); } }

@keyframes slideLeftButtons {
  0% {
    position: relative;
    opacity: 0; }
  100% {
    position: relative;
    opacity: 1;
    display: inline; } }
  #mainBlock .card_news {
    display: flex;
    flex-direction: row;
    position: relative; }
    #mainBlock .card_news-image {
      padding: 0px;
      margin: 0px;
      padding-right: 10px; }
      #mainBlock .card_news-image img {
        width: 62.4px;
        height: 72px; }
    #mainBlock .card_news-main {
      padding: 0px;
      margin: 0px; }
      #mainBlock .card_news-main > div {
        padding: 0px;
        margin: 0px; }
      #mainBlock .card_news-main-header {
        font-size: 14px; }
        #mainBlock .card_news-main-header span {
          color: black; }
      #mainBlock .card_news-main-title > a {
        text-decoration: underline;
        color: #1E57A5; }
        #mainBlock .card_news-main-title > a:hover {
          color: #64b5f6; }
      #mainBlock .card_news-main-footer {
        font-style: italic;
        font-size: 14px;
        color: black; }
    #mainBlock .card_news-description {
      color: #3C3C3C;
      width: 100%;
      display: block;
      white-space: pre-wrap; }
    #mainBlock .card_news-editor {
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 0px; }
  #mainBlock .detailsNew > div {
    padding-left: 0px; }
  #mainBlock .detailsNew .dropdownFiles * {
    color: #65935C; }
  #mainBlock .detailsNew .card_news-details {
    position: relative; }
    #mainBlock .detailsNew .card_news-details .card_news-main {
      margin-bottom: 10px; }
      #mainBlock .detailsNew .card_news-details .card_news-main-title a {
        color: #1E57A5;
        text-decoration: none; }
    #mainBlock .detailsNew .card_news-details .card_news-editor {
      position: absolute;
      right: 0;
      top: 0; }
  #mainBlock #newsComponent {
    position: relative;
    margin-top: 0.5em; }
  #mainBlock .pagination {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end; }
    #mainBlock .pagination li {
      margin-right: 10px; }
      #mainBlock .pagination li:last-child {
        margin-right: 0px; }
      #mainBlock .pagination li.active {
        background-color: #64b5f6; }
        #mainBlock .pagination li.active a {
          color: #fff; }
      #mainBlock .pagination li.btn:hover a {
        color: #fff; }
      #mainBlock .pagination li a {
        color: #9e9e9e; }

.btn {
  /*&:hover {
            background-color: $animationBorderBtnTextColor;
            color: white;
        }*/
  /*&:hover {
            background-color: $animationBorderBtnTextColor;
            color: white;
        }*/ }
  .btn-default {
    font-family: 'HelveticaNeueCyr' !important;
    text-transform: inherit;
    font-size: 18px !important;
    position: relative;
    border-radius: 8px !important;
    background-color: #ffffff;
    animation-fill-mode: forwards;
    height: auto;
    color: #9e9e9e;
    border: 1px solid #9e9e9e; }
    .btn-default:hover {
      background-color: #eeeeee; }
  .btn-defaultMainSite {
    font-family: 'HelveticaNeueCyr' !important;
    text-transform: inherit;
    font-size: 18px !important;
    position: relative;
    border-radius: 8px !important;
    line-height: 2.3rem !important;
    height: 2.5rem !important;
    background-color: #ffffff;
    animation-fill-mode: forwards;
    color: #9e9e9e;
    border: 2.5px solid #64b5f6; }

@-moz-document url-prefix() {
  .btn-defaultMainSite {
    height: 2.5rem !important;
    line-height: 2.3rem !important; } }
    .btn-defaultMainSite:hover {
      background-color: #64b5f6;
      color: #ffffff; }

.inputTextMainSite {
  height: 1.5em; }

html {
  font-family: "HelveticaNeueCyr" !important;
  overflow-x: hidden;
  position: relative;
  min-height: 100%; }
  @media (max-width: 1260px) {
    html .container {
      width: 95%; } }
  html .rectangle {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    border: 0.5px solid black; }
  html .error {
    color: #ef5350; }
    html .error-block {
      background-color: #ef5350; }
  html .bold {
    font-weight: 600; }
  html .dropdown-content {
    width: auto !important;
    height: auto !important; }
  html .text-right {
    text-align: right; }
  html .text-center {
    text-align: center; }
  html body {
    background-color: #eeeeee !important;
    font-size: 18px !important;
    color: #9e9e9e !important; }
    html body header {
      color: #9e9e9e;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow .25s;
      background-color: #ffffff; }
      html body header #openMenu {
        margin-left: auto; }
      html body header .nav-header {
        color: #9e9e9e;
        box-shadow: none;
        background-color: #ffffff; }
        html body header .nav-header a {
          color: #9e9e9e; }
    html body footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      white-space: nowrap; }
      html body footer nav {
        color: #9e9e9e;
        background-color: #ffffff;
        line-height: 30px;
        font-size: 14px;
        height: auto; }
        html body footer nav a {
          color: #9e9e9e; }
