$fonSizeMainBLock: 14px;
$mainTextColor: black;
$animationBtnTextColor:#fff;
$animationBorderBtnTextColor:#64b5f6;

$paddingLeftBlock: 15px !default;
$paddingRightBlock: 15px !default;
$paddingBottomBlock: 5px !default;
$paddingTopBlock: 5px !default;

#mainBlock {
    font-size: $fonSizeMainBLock;

    & > div:last-child {
        margin-bottom: 100px;
    }

    .card-panel {
        border-radius: 8px;
        padding: $paddingTopBlock $paddingRightBlock $paddingBottomBlock $paddingLeftBlock;
    }

    .btn {
        &-defaultMainSite {
            animation-fill-mode: forwards;
            background-color: #fff;
            color: $otherTextColor;
            border-left: 3px solid $animationBorderBtnTextColor;
            position: relative;
            //@include animationTranslateBtn($animationBorderBtnTextColor, $animationBtnTextColor);
            &:hover {
                background-color: $animationBorderBtnTextColor;
                color: white;
            }

            @-moz-document url-prefix() {
                height: 2.5rem;
            }

            height: 2rem;
            height: fit-content;
            line-height: 2rem;
            border: 2.5px solid #64b5f6;
            border-radius: 8px;
        }
    }
    /*Оформление блока день рождение(birthday)*/
    .card_birthday {

        &-title {
            width: 180px;
            float: left;
            font-size: 17px;

            @media (max-width: 992px) {
                float: none;
                text-align: center;
                padding-bottom: 15px;
                font-size: 20px;
                width: 100%;
            }
        }

        &-content {
            padding-right: 0px;
            display: flex;
            //overflow-x: hidden;
            overflow-x: auto;
            //justify-content: space-around;
            & > div {
                display: flex;
                flex: none;
                flex-direction: column;
                align-items: center;
                padding-top: 2px;
                padding-right:10px;
                //padding-right: 70px;
                font-size: 16px;
                align-items: center;
            }

            & > div:last-child {
                padding-right: 0px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 8px;
                width: 3px;
                background-color: $otherColor;
            }

            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
    /*Оформление блока новостей*/
    .card_news {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 10px;

        &-image {
            display: flex;
            align-items: center;

            & > img {
                height: 60px;
                width: 60px;
            }
        }

        &-main {
            display: flex;
            flex-direction: column;
            padding: 0 0.75rem;
            margin-bottom: 20px;

            &-header {
                font-size: 12px;

                span {
                    color: $mainTextColor;
                }
            }

            &-title {
                & > a {
                    text-decoration: underline;

                    & :hover {
                        color: rgba($color: #000000, $alpha: 1.0);
                    }
                }
            }

            &-footer {
                font-style: italic;
                font-size: 12px;
                -webkit-text-stroke: thin;
                color: $mainTextColor;
            }
        }

        &-editor {
            display: flex;
            flex-direction: row;
            text-align: right;
            height: max-content;
            flex-grow: 1;
            justify-content: flex-end;
        }
    }
    /* Стили для пагинации*/
    .pagination {
        text-align: right;

        li {
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }

            &.active {
                background-color: #64b5f6;

                a {
                    color: #fff;
                }
            }

            &.btn {
                &:hover {

                    a {
                        color: #fff;
                    }
                }
            }

            a {
                font-size: 0.8rem;
                color: #9e9e9e;
            }
        }
    }
    /*Оформление блока Информация по новости*/
    .detailsNew {
        & > div {
            padding: 10px 0px;
            padding-right: 5px;
        }

        #dropdownFiles {
            & * {
                color: #64b5f6 !important;
            }
        }
    }
    /*Оформление формы создание сообщения*/
    .creator {
        //overflow: hidden;
        margin-bottom: 1rem;
        margin-left: -0.75rem;
        margin-right: -0.75rem;

        & > .card-panel {
            border-radius: 8px;
        }

        position: relative;

        &-main {

            &-textForm {
                & > .input-field {
                    margin: 0px;
                    padding-top: 10px;
                }
            }

            & > .close {
                position: absolute;
                right: 15px;
                top: 10px;
                cursor: pointer;
                z-index: 10;
            }

            &-panel {
                margin: 0px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                @media (max-width: 700px) {
                    flex-direction: column;
                    padding-bottom: 15px;
                }
            }

            opacity: 0;
            position: absolute;
            width: 0;
            display: none;
            /**/

            &.active {
                display: block;
                position: relative;
                animation-name: slideLeft;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                //animation: slideLeft 1s ease-in-out 1 forwards;
            }

            &.desActive {
                //opacity: 1;
                display: block;
                animation-name: slideLeftHide;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                //animation: slideLeftHide 1s ease-in-out 1 forwards;
            }
        }

        &-menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            @media (max-width: 700px) {
                flex-direction: column;
            }

            &.active {
                display: none;
            }

            &.desActive {
                animation-name: slideLeftButtons;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
            }
        }
    }
}
 
@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
        width: 100%;
        position: relative;
    }
    50% {
        transform: translateX(-8%);
        position: relative;
    }
    80% {
        transform: translateX(4%);
        position: relative;
    }
    100% {
        position: relative;
        width:100%;
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideLeftHide {
    0% {
        transform: translateX(0%);
        position: relative;
        opacity: 1;
        width: 100%
    }
    90% {
        transform: translateX(300%);
        opacity: 0;
    }
    100% {
        position: absolute;
        opacity: 0;
        display: none;
    }
}

@keyframes slideLeftButtons {
    0% {
        position: relative;
        opacity: 0;
    }

    100% {
        position: relative;
        opacity: 1;
        display:inline;
    }
}