$mainTextColor: black;
$animationBtnTextColor:#fff;
$animationBorderBtnTextColor:#64b5f6;

$paddingLeftBlock: 15px !default;
$paddingRightBlock: 15px !default;
$paddingBottomBlock: 5px !default;
$paddingTopBlock: 5px !default;

#mainBlock {

    & > div:last-child {
        margin-bottom: 100px;
    }

    .card-panel {
        border-radius: 8px;
        padding: $paddingTopBlock $paddingRightBlock $paddingBottomBlock $paddingLeftBlock;
    }

    @import "../birthday/sass/birthday.scss";
    @import "../news/sass/news.scss";
}
 