@model MainSite.Areas.Admin.Models.Users.UserRoleModel

<div asp-validation-summary="ModelOnly"></div>
<input asp-for="Id" type="hidden" />

<div class="col input-field  m12">
    @Html.EditorFor(model => model.Name, new { type = "text", @class = "validate" })
    <label class="active" for="first_name2">Наименование</label>
</div>

<div class="col input-field  m12">
    @Html.EditorFor(model => model.SystemName, new { type = "text", @class = "validate" })
    <label class="active" for="first_name2">Системное имя</label>
</div>