@model MainSite.Areas.Admin.Models.Users.UserRoleModel

@{
    //page title
    ViewBag.Title = "Добавление ролей";
    Layout = "_Layout";
}
<div class="col s12 m12 card-panel">
    <form asp-controller="UserRole" asp-action="Create" method="post">
        <h5 class="pull-left">Добавление ролей</h5>
        <p> <a href="@Url.Action("List")">Вернуться к списку ролей</a></p>
          
        <div class="row">
            @await Html.PartialAsync("_CreateOrUpdate", Model)

            <div class="col input-field m12">
                <button type="submit" name="save" class="btn btn-defaultMainSite">
                    <i class="fa fa-floppy-o"></i>
                    Сохранить
                </button>
                @*<button type="submit" name="save-continue" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    Сохранить и продолжить
                </button>
                *@
            </div>
        </div>
    </form>
</div>