@model MainSite.Areas.Admin.Models.Users.UserRoleModel

@{
    ViewBag.Title = "Изменение роли";
    Layout = "_Layout";

}
<script>
    function deleteUserRole() {
        var userRoleId = document.querySelector('.userRoleId');
        var data = new FormData();
        data.append('id', userRoleId.value);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Admin/UserRoles/Delete/', false);

        xhr.onreadystatechange = function () {//Call a function when the state changes.
            if (xhr.readyState == 4 && xhr.status == 200) {
                window.location.reload('@Url.Action("List")');
            }
            else {
                alert('Ошибка');
            }
        }

        xhr.send(data);
    }
</script>

<div class="col s12 m12 card-panel">
    <form asp-controller="UserRole" asp-action="Edit" method="post">
        <h5 class="pull-left">
            Изменение роли - @Model.Name
        </h5>
        <p><a href="@Url.Action("List")">Вернуться к списку ролей</a></p>
        <div class="row">
            @await Html.PartialAsync("_CreateOrUpdate", Model)

            <div class="col input-field m12">
                <button type="submit" name="save" class="btn btn-defaultMainSite">
                    <i class="fa fa-floppy-o"></i>
                    Сохранить
                </button>

                <span id="customerrole-delete" class="btn btn-defaultMainSite" onclick="deleteUserRole()" >
                    <i class="fa fa-trash-o"></i>
                    Удалить
                </span>
            </div>
        </div>
    </form>
</div>

