/*Оформление формы создание сообщения*/
.creator {
    //overflow: hidden;
    margin-bottom: 1rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;

    & > .card-panel {
        border-radius: 8px;
    }

    position: relative;

    &-main {

        &-textForm {
            & > .input-field {
                margin: 0px;
                padding-top: 10px;
            }
        }

        & > .close {
            position: absolute;
            right: 15px;
            top: 10px;
            cursor: pointer;
            z-index: 10;
        }

        &-panel {
            margin: 0px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            @media (max-width: 700px) {
                flex-direction: column;
                padding-bottom: 15px;
            }
        }

        opacity: 0;
        position: absolute;
        width: 0;
        display: none;
        /**/

        &.active {
            display: block;
            position: relative;
            animation-name: slideLeft;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            //animation: slideLeft 1s ease-in-out 1 forwards;
        }

        &.desActive {
            display: none;
        }
    }

    &-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @media (max-width: 700px) {
            flex-direction: column;
        }

        &.active {
            display: none;
        }

        &.desActive {
            animation-name: slideLeftButtons;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
        }
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
        width: 100%;
        position: relative;
    }

    50% {
        transform: translateX(-8%);
        position: relative;
    }

    80% {
        transform: translateX(4%);
        position: relative;
    }

    100% {
        position: relative;
        width: 100%;
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideLeftButtons {
    0% {
        position: relative;
        opacity: 0;
    }

    100% {
        position: relative;
        opacity: 1;
        display: inline;
    }
}
