/*Оформление блока новостей*/
.card_news {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;

    &-image {
        display: flex;
        align-items: center;

        & > img {
            height: 60px;
            width: 60px;
        }
    }

    &-main {
        display: flex;
        flex-direction: column;
        padding: 0 0.75rem;
        margin-bottom: 20px;

        &-header {
            font-size: 12px;

            span {
                color: $mainTextColor;
            }
        }

        &-title {
            & > a {
                text-decoration: underline;

                & :hover {
                    color: rgba($color: #000000, $alpha: 1.0);
                }
            }
        }

        &-footer {
            font-style: italic;
            font-size: 12px;
            -webkit-text-stroke: thin;
            color: $mainTextColor;
        }
    }

    &-editor {
        display: flex;
        flex-direction: row;
        text-align: right;
        height: max-content;
        flex-grow: 1;
        justify-content: flex-end;
    }
}

/* Стили для пагинации*/
.pagination {
    text-align: right;

    li {
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }

        &.active {
            background-color: #64b5f6;

            a {
                color: #fff;
            }
        }

        &.btn {
            &:hover {

                a {
                    color: #fff;
                }
            }
        }

        a {
            font-size: 0.8rem;
            color: #9e9e9e;
        }
    }
}

@import "creatorNews.scss";
