@font-face {
    font-family: 'helveticaneuecyrblack';
    src: url('helveticaneuecyr-black-webfont.woff2') format('woff2'), url('helveticaneuecyr-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyrblack_italic';
    src: url('helveticaneuecyr-blackitalic-webfont.woff2') format('woff2'), url('helveticaneuecyr-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('helveticaneuecyr-bold-webfont.woff2') format('woff2'), url('helveticaneuecyr-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyrbold_italic';
    src: url('helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'), url('helveticaneuecyr-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyrheavy';
    src: url('helveticaneuecyr-heavy-webfont.woff2') format('woff2'), url('helveticaneuecyr-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyrheavy_italic';
    src: url('helveticaneuecyr-heavyitalic-webfont.woff2') format('woff2'), url('helveticaneuecyr-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyritalic';
    src: url('helveticaneuecyr-italic-webfont.woff2') format('woff2'), url('helveticaneuecyr-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('helveticaneuecyr-light-webfont.woff2') format('woff2'), url('helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyrlight_italic';
    src: url('helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'), url('helveticaneuecyr-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('helveticaneuecyr-medium-webfont.woff2') format('woff2'), url('helveticaneuecyr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyrmedium_italic';
    src: url('helveticaneuecyr-mediumitalic-webfont.woff2') format('woff2'), url('helveticaneuecyr-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('helveticaneuecyr-roman-webfont.woff2') format('woff2'), url('helveticaneuecyr-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
