@model Application.Dal.Domain.Settings.Setting

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Update";
}

<div class="col s12 m12 card-panel">

    <h5>Обновить настройки</h5>
    <hr />
        <div class="col-md-4">
            <form asp-action="Update" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" class="form-control" />
                <div class="form-group">
                    <label for="Name">Наименование параметра</label>
                    @Html.TextBoxFor(c => c.Name, new { @class = "form-control", disabled = "disabled" })
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Value">Значение</label>
                    @Html.TextBoxFor(c => c.Value, new { @class = "form-control" })
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>

                <div class="input-field m12">
                    <input type="submit" value="Сохранить" class="btn btn-defaultMainSite" />
                    @Html.ActionLink("Назад", "Index", "Settings", null, new { @class = "btn btn-defaultMainSite" })
                </div>
            </form>
        </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
