@inject Application.Services.Settings.ISettingsService service;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData?["Title"] - MainSite</title>
    <link href="~/css/materialize/sass/materialize.css" rel="stylesheet" />
    <link href="~/images/fonts/MaterialIcons/Material-Icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fonts/fonts.css" />
    <link rel="stylesheet" href="~/css/mainSite.css" />
    <link rel="stylesheet" href="~/bundle/App.css" />
    @*<script src="~/lib/vue/vue.js"></script>*@
</head>
<body class="row">
    <div id="vueRootComponent">

        <ms-header></ms-header>
        <div class="container">
            <div class="col m12 s12 l3" id="menuBlock">
                @*<div class="secondMenuBlock"></div>*@
                @await Html.PartialAsync("Menu")
            </div>
            <main role="main" class="col m12 s12 l9" id="mainBlock">
                @RenderBody()
            </main>
        </div>

        <footer>
            <nav>
                <div class="container">
                    <a class="bold" href="#">Сообщить о проблеме или высказать пожелание</a>
                    <br />
                    <span>@service.SettingsDictionary.GetValueOrDefault("Application.Copy", "Разработка отдела труда и трудолюбия.2021")</span>
                </div>
            </nav>
        </footer>
    </div>
    <script src="~/bundle/972.js"></script>
    <script src="~/bundle/App.js"></script>
    <script src="~/css/materialize/js/materialize.js"></script>
    <script src="~/scripts/onReadyState.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
