@inject Application.Services.Menu.IMenuService Menu;
<div class="navbar">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        @foreach (var menuNames in Menu.GetMenu().ToList())
        {
            <li>
                <a asp-area="" asp-controller=@menuNames.URL asp-action=@menuNames.Name>@menuNames.Name</a>
                <ul class="sub-menu">
                    @foreach (var subMenu in Menu.GetMenu().Where(n => n.ParentId == @menuNames.Id))
                    {
                        <li>
                            <a asp-area="" asp-controller=@subMenu.URL asp-action=@subMenu.Name>@subMenu.Name</a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>