@inject Application.Services.Menu.IShowMenu menu;


        @foreach (var menuNames in menu.GetMenuItem(null))
        {
            <li>
                <a asp-action=@menuNames.ActionName>@menuNames.Name</a>
                <ul class="sub-menu">
                    @foreach (var subMenu in menu.GetMenuItem(menuNames.Id))
                    {
                        <li class="nav-item">
                            <a asp-action=@subMenu.ActionName>@subMenu.Name</a>
                            <ul class="sub-menu">
                                @foreach (var subMenu1 in menu.GetMenuItem(subMenu.Id))
                                {
                                    <li class="nav-item">
                                        <a asp-action=@subMenu1.ActionName>@subMenu1.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }



    </ul>
</nav>