@inject Application.Services.Menu.IShowMenu menu;

<ul class="menu">
    <li>
        <a><span class="rectangle" style="background-color: white;" src="/content/layout_icons/free-icon-ads-2625106.svg"></span> <div>Новости</div></a>
    </li>
    @foreach (var menuNames in menu.GetMenuItem(null))
    {
        var resultImgHtml = "";
        if (String.IsNullOrWhiteSpace(menuNames.UrlIcone))
        {
            resultImgHtml = "<span style=\"background-color: black; height:2px;width:30px;\" src=\"/content/layout_icons/free-icon-ads-2625106.svg\"></span>";
        }
        else
        {
            resultImgHtml = $"<img src=\"{menuNames.UrlIcone}\" />";
        }
        <li>
            <a>
                @Html.Raw(@resultImgHtml)
                <div>@menuNames.Name</div>
            </a>
            @if (menu.GetMenuItem(menuNames.Id).Count() > 0)
            {
                <ul>
                    @foreach (var subMenu in menu.GetMenuItem(menuNames.Id))
                    {
                        <li>
                            <a>
                                @Html.Raw(@resultImgHtml)
                                <div>@subMenu.Name</div>
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>