@{
    Layout = null;
}
<ms-menu></ms-menu>

@*<ul class="menu">

    <li>
        <a href="@Url.Action("Index", "Home")" title="Новости" class="@(Model == null ? "active" : "")">
            <span class="rectangle" style="background-color: white;"></span>
            <div class="bold">Новости</div>
        </a>
    </li>
    @await Component.InvokeAsync("NavComponent", Model)
</ul>
*@

@*<script src="@Url.Content("~/bundle/Menu.js")"></script>*@