@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="menu" id="menu">
    <li>
        <a href="@Url.Action("Index", "Home")" title="Новости" class="@(ViewData["categoryId"] == null ? "active" : "")">
            <span class="rectangle" style="background-color: white;"></span>
            <div class="bold">Новости</div>
        </a>
    </li>
    @await Component.InvokeAsync("NavComponent", ViewData["categoryId"])
</ul>

@*<script>
        var v = new Vue({
            el: '#menu',
            data: {
                view: null,
            },
            methods: {
                routerMenu: function (url) {
                    axios.get(url).then(response => (this.view = response));
                    console.log(this.view);
                    var obj = document.getElementById('news');
                    obj.innerHTML = this.view.data;
                }
            }
        });
    </script>*@