@inject Application.Services.Birthday.IBirthdayService birthdayList;
@{
    Layout = null;
}


<div class="card-panel row card_birthday">
    <div class="card_birthday-title col s12 l2 bold">
        <div>C днём рождения!</div>
        <div><img src="~/content/layout_icons/header.png" width="50" height="50" /></div>
    </div>
    <div class="col s12 l10 card_birthday-content">
            @foreach (var item in birthdayList.GetUsers())
            {
                <div>
                    <img class="rectangle" src="@item.Photo" alt="" />
                    <span>@item.Fio</span>
                </div>
            }
    </div>
</div>