@model NewsItemModel

@{
    Layout = null;
}

<div class="row creator">
    <div class="card-panel creator-main">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="input-field col s12 m12" style="margin: 0px;">
                    <i class="material-icons prefix">message</i>
                    <textarea asp-for="Header" id="TextMessage" class="materialize-textarea"></textarea>
                    <label asp-for="Header" class="active" for="TextMessage">Введите текст</label>
                </div>
            </div>
            <div class="file-field input-field creator-main-panel">
                <div class="btn btn-newMessage">
                    <span>Прикрепить файл...</span>
                    <input type="file" asp-for="UploadedFiles" multiple>
                </div>
                <div class="file-path-wrapper" style="flex-grow: 1;">
                    <input disabled class="file-path" style="border: none;" type="text" placeholder="Список выбранных файлов">
                </div>
                <input type="submit" value="Опубликовать"  class="btn btn-newMessage"/> 
            </div>
            <div class="form-group">

            </div>
        </form>
    </div>
    <div class="creator-menu">
        <input type="checkbox" id="newMessage" class="gamutom-esoutasto"/>
        <button for="newMessage"  class="btn btn-newMessage">Новое сообщение</button>
    </div>
</div>
